*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    margin-top: 1rem;
    line-height: 1.6;
    background-color: rgb(170, 248, 215);
    color:#333;
}
header{
    background-color: #d32f2f;
    color:white;
    text-align: center;
    padding:1.5rem;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.hero{
    text-align: center;
    padding:2rem;
    background-color: white;
    margin: 1rem auto;
    max-width:1200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.hero iframe{
    margin-top: 1rem;
    border-radius: 8px;
}

.menu {
    padding:2rem;
    background-color: #f9e8e8;
    text-align: center;
}
.menu h2{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #d32f2f;
}
.menu-items{
    display:flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap:wrap;
    max-width:1200px;
    margin: 0 auto;
}

.menu-item{
    background-color: white;
    border-radius: 8px;
    overflow:hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width:300px; 
    height:200px;     
}
.menu-item img{
    width:100%;
    height:200px;
    object-fit:cover;
    border-bottom: 1px solid #f4f4f4;
    object-fit: cover;
}
.menu-item p{
    padding: 0.5rem;
    font-size: 1.2rem;
    color:#555;
}
.reservation{
    padding:2rem;
    text-align:center;
    background-color: #fff;
    margin: 1rem auto;
    max-width:600px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}
.reservation h2{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #d32f2f;
}
.reservation form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: 0 auto;
}